%h1.cover-heading Done!
%p.lead We got your REY identity and your ID document into Birthdoc app.
%p.lead You can now launch the <a href="http://reputation.network/apps">REY app</a> to view your data.
